# compiled output
/dist
/node_modules
upload

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.env

*.tsbuildinfo
libs/*/src/**/*.d.ts
libs/*/src/**/*.d.ts.map
libs/*/src/**/*.js
libs/*/src/**/*.js.map

src/**/*.d.ts
src/**/*.d.ts.map
src/**/*.js
src/**/*.js.map
tsconfig.build.tsbuildinfo

src/schema-manager

*.tst
